on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: rabbitmq:3.8
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        ports:
          - 5672
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Run Tests
        env: 
          RABBITMQ_HOST: 127.0.0.1
          RABBITMQ_PORT: ${{ job.services.rabbitmq.ports['5672'] }}
          AMQP_SERVER_URL: amqp://guest:guest@$RABBITMQ_HOST:$RABBITMQ_PORT/
        run: INTEGRATION=1 go test -v ./go-twitch-events/rabbitmq/.